.select-item {
    height:60px;
    width: 800px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./fart_smella.png');
    background-repeat: none;
    background-position: center;
    color: white;
    font-size: 28px;
    background-color: black;
    border-color: black;
}

.inputs {
    height: 54px;
    width: 792px;
    background-image: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), url('./smart_fella.png');
    border-color: black;
    color: white;
    font-size: 28px;
    background-repeat: none;
}

.the-button-yes {
    height: 80px;
    width: 800px;
    font-size: 24px;
    color: white;
    background-color: rgba(0, 150, 0, 0.7);
    border-color:rgba(0, 150, 0, 0.7);
    border-radius: 8px;
    margin: 20px 0;
}


.the-body-yes {
    background-image: linear-gradient(rgba(0, 0, 0, 0.3), rgba(0, 0, 0, 0.3)), url('./dsadjsx.png');
    background-repeat: none;
    background-size: cover;
}

.the-center-legend-yes {
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

}

h1 {
    text-align: center;
    border: solid 2px white;
    color: white;
    font-size: 70px;
}